body {
  background-color: #D3D3D3;
}

.super {
  position: relative;
  top: -0.5em;
  font-size: 80%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.pl {
  background:url(../img/pl16.png); 
}


.gb {
  background:url(../img/gb16.png); 
}

.us {
  background:url(../img/us16.png); 
}

.ph {
  background:url(../img/ph16.png); 
}

.ir {
  background:url(../img/ir16.png); 
}

.note {
  background:url(../img/note16.png); 
}

.gb, .pl, .us, .ph, .ir, .note {
  background-color: white;   
  color: black;   
  padding: 8px; 
  padding-left: 45px;
  border-bottom: 1px solid lightgray;
  background-repeat: no-repeat;
  background-position: 10px 10px; 


}

.pl p, .gb p, .us p, .ph p, .ir p, .note p  {
  margin: 0;
}

#gb, #pl, #us, #ph, #ir, #note {
    display: none;
}

.tag {
  background-color:#000;
  color:#fff;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  padding: 5px;
  text-align:center;
  margin-bottom: 5px;
  border-radius:6px;
}

tag a {
color:#fff!important
}
